@use "sass:color";

$primary-color: #2563eb;
$primary-color-oscuro: #022c6f;

$secondary-color-claro: #fafafa;
$secondary-color-gris: #ecf1f5;
$background-degradado: linear-gradient(
  150deg,
  $primary-color 50%,
  $primary-color-oscuro 100%
);

$text-color: #40557f;
$text-color-white: #fafcff;
$text-color-gray: #888888;

$primary-hover: color.scale($primary-color, $lightness: -20%);
$border-bottom-line: 1px solid
  color.scale($secondary-color-gris, $lightness: -20%);

$error: rgb(205, 5, 5);
$success: #ccf2d8;
$warning: #fbf2c6;
$shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
$shadow-buttons: 0 2px 2px rgba(0, 0, 0, 0.3);

$border-radius-max: 20px;
$border-radius: 12px;
$border: 10px;

$padding_base: 0.3rem;
$padding_sm: $padding_base * 2;
$padding_md: $padding_base * 3;
$padding_lg: $padding_base * 4;

$gap_base: 0.5rem;
$gap_sm: $gap_base * 2;
$gap_md: $gap_base * 3;
$gap_lg: $gap_base * 4;
